<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .fn_text_wrap.line2 {
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      img {
        display: inline-block;
        height: 13px;
        line-height: 13px;
        margin-right: 5px;
        vertical-align: baseline;
      }
    </style>
  </head>
  <body>
    <div class="fn_text_wrap line2" id="itemName">
      <span>
        <img
          src="https://storage.360buyimg.com/jxfe/ppms/c/202411/19/b0395e4e-53b2-4a12-9c4f-7f19b146b363.png"
        />暖宝宝贴自发热贴暖宫贴暖宝贴大姨妈痛经宫寒暖身贴防寒保暖暖贴暖
        10片</span
      >
    </div>
  </body>
</html>
